/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */


/* mulai coding */
html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  line-height: 1.65;
  padding-bottom: 500px;
}

/* Latihan 1 */
.container-satu {
  max-width: 800px;
  background-color: white;
  margin: 50px auto;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

.kolom-satu {
  flex: 2;
}

.sidebar-satu {
  flex: 2;
}

.sidebar-dua {
  flex: 2;
}

/* latihan 2 */
.container-dua {
  max-width: 800px;
  margin: 50px auto;
}

.layanan {
  padding: 20px;
  box-sizing: border-box;
   margin-bottom: 20px;
}

.layanan.satu {
  background-color: crimson;
}

.layanan.dua {
  background-color: lightgreen;
}

.layanan.tiga {
  background-color: #0cc;
}

/* Latihan 3 */
.container-tiga {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.thumbnail {
  width: 50%;
}

.thumbnail img {
  width: 100%;
}

/* Latihan 4 */
.container-empat {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0;
}

.card {
  width: 50%;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.card .header img {
  width: 100%;
}

.card .content {
  text-align: center;
}

/* Latihan 5 */
.container-lima {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  margin: 50px auto;
  display: flex;
}

.kotak {
  width: 150px;
  height: 150px;
  background-color: crimson;
  color: white;
  text-align: center;
  margin: auto;
  display: flex;
}

.kotak span {
  margin: auto;
}

/* Responsive */
@media( min-width:800px ) {
  .container-dua {
    display: flex;
    justify-content: space-between;
  }
  .layanan {
    width: 30%;
  }
  .thumbnail {
    width: 25%;
  }
  .card {
    width: 25%;
  }
}